@media screen and (min-width: 1024px) {
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: max-content;
        align-content: flex-start;
        width: 100%;
    }

    .content2 {
        display: block;
        height: 100%;
        width: 100%;
    }

    .placeholder {
    }


    #corpo-logo {
        display: none;
    }

    .logo-title {
        width: 100%;
        height: max-content;
    }

    .header-space {
        width: 0;
        height: 0;
    }

    .human-writes {
        text-align: left;
        background-color: #282c34;
        color: #61dafb;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        height: 370px;
    }

    .human-writes .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .human-writes .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .workspace {
        flex-direction: row;
        display: flex;
        min-height: var(--logo-size);
        height: max-content;
        flex-grow: 0;
        align-items: flex-start;
    }


    .logo {
        display: flex;
        width: var(--logo-size);
        height: var(--logo-size);
        background: var(--logo-icon) no-repeat;
    }

    #title {
        display: flex;
        height: 65px;
        max-height: 65px;
    }

    .content.splash {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: auto;
        margin: 10vh 0 10vh 0;
    }

    .placeholder.splash {
        height: 0;
    }

    .workspace.splash {
        height: 0;
    }



    .logo.splash {
        width: 50%;
        height: 100%;
        max-height: 50vh;
        max-width: 50vw;
        background: none;
    }

    .logo-title.splash {
        width: 30%;
        max-width: 30vw;
        max-height: 15vh;
        height: max-content;
    }

    #corpo-logo.splash {
        display: block;
    }

    .header-space.splash {
        position: relative;
        clear: both;
        width: 0;
        height: 100%;
    }


}
