:root {
    --E-length: 0;
    --tilde1-length: 0;
    --p1-length: 0;
    --p2-length: 0;
    --h1-length: 0;
    --h2-length: 0;
    --e-length: 0;
    --tilde2-length: 0;
    --c-length: 0;
    --t1-length: 0;
    --t2-length: 0;
    --duration: 4s;
    --logo-size: 48px;
    --logo-icon: url("/icons/icon-48.webp");
    --fore-color: black;
    --background-color: #e7e7e7;
    --inter-fill-color: #7C00A4;
    --final-fill-color: #00C9FF;
    --inter-serif-color: #7C00A4;
    --final-serif-color: #ff00ff;
    --start-stroke-color: #ff00ff;
    --inter-stroke-color: #7C00A4;
    --final-stroke-color: transparent;
    --inter-stroke-width: 10px;
    --final-stroke-width: 0pt;
    --start-title-width: 4px;
    --inter-title-width: 2px;
    --end-title-width: 0;
    --start-title-color: #00C9FF;
    --final-title-color: #7C00A4;
}

html, body {
    background-color: var(--background-color);
    color: var(--fore-color);
    margin: 0;
    padding: 0;
    font-family: 'Pathway Extreme',-apple-system,BlinkMacSystemFont,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 100vw;
    height: 100vh;
}

code {
    font-family: "Fira Mono", sans-serif !important;
}

.logo-init {
    display: none;
}

.workspace {
    height: 0;
}

