:root {
    --snippet-width: 80vw;
    --snippet-desktop-width: 50vw;
}

.code-snippet {
    display: flex;
    font-size: small;
}

.code-snippet .to-be-placed {
    display: block;
    position: relative;
    float: left;
}

.code-snippet .to-place {
    display: block;
    position: relative;
    float: left;
    width: var(--snippet-width);
}

.code-snippet .to-be-written {
    display: block;
    position: absolute;
    width: var(--snippet-width);
}

.code-snippet .to-write {
    width: var(--snippet-width);
}

.code-snippet div,
p,
span,
textarea {
    -tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
}

@media (min-width: 1024px) {

    .code-snippet .to-place {
        width: var(--snippet-desktop-width);
    }

    .code-snippet .to-be-written {
        width: var(--snippet-desktop-width);
    }

    .code-snippet .to-write {
        width: var(--snippet-desktop-width);
    }
}
