:root {
    --E-length: 2271.52685546875;
    --E-1-length: 1118.76708984375;
    --E-1-1-length: 1118.76708984375;
    --E-2-length: 1243.431640625;
    --E-2-1-length: 1243.431640625;
    --tilde1-length: 634.12255859375;
    --tilde1-1-length: 634.12255859375;
    --p1-length: 1231.6719970703125;
    --p1-1-length: 2047.347412109375;
    --p1-1-1-length: 2047.347412109375;
    --p2-length: 1171.9857177734375;
    --p2-1-length: 2047.347412109375;
    --p2-1-1-length: 2047.347412109375;
    --h1-length: 2718.61279296875;
    --h2-length: 2740.224609375;
    --h1-1-length: 2740.224609375;
    --h1-2-length: 2740.224609375;
    --e-length: 1756.4310302734375;
    --e-1-length: 865.0736694335938;
    --e-1-1-length: 865.0736694335938;
    --e-2-length: 961.480712890625;
    --e-2-1-length: 961.480712890625;
    --tilde2-length: 490.3317565917969;
    --tilde2-1-length: 490.3317565917969;
    --c-length: 1756.4222412109375;
    --c-1-length: 865.090087890625;
    --c-1-1-length: 865.090087890625;
    --c-2-length: 961.4757080078125;
    --c-2-1-length: 961.4757080078125;
    --t1-length: 1231.6796875;
    --t1-1-length: 2458.58154296875;
    --t1-1-1-length: 2458.58154296875;
    --t2-length: 1404.580322265625;
    --t2-1-length: 2458.58154296875;
    --t2-1-1-length: 2458.58154296875;
}
